site_name: 'TACT: Taxonomic Addition for Complete Trees'
theme:
  name: "material"
  font: false
  features:
    - toc.integrate
    - content.action.edit
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: green
      accent: lime
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: green
      accent: green
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

extra_css:
  - css/custom.css

extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/chang_jon
      name: Jonathan Chang on Twitter
    - icon: fontawesome/brands/github
      link: https://github.com/jonchang/tact
      name: TACT on GitHub
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/r/jonchang/tact
      name: TACT on Docker Hub
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/tact/
      name: TACT on the Python Package Index

repo_url: https://github.com/jonchang/tact
edit_uri: edit/master/docs/
site_author: Jonathan Chang
site_dir: _site
site_url: https://tact.jonathanchang.org

nav:
  - Home: index.md
  - Getting started:
    - Installation: install.md
    - Background: background.md
    - Tutorial: tutorial.md
  - Using TACT:
    - Command reference: commands.md
    - Troubleshooting: troubleshooting.md
  - Reference:
    - News: news.md
    - API reference: api.md
  - For developers:
    - Contributing: contributing.md
    - License: license.md

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences

plugins:
- search
- git-revision-date-localized:
    fallback_to_build_date: true
- mkdocstrings:
    handlers:
      python:
        options:
          show_if_no_docstring: true
          heading_level: 3
          show_source: true
          show_signature_annotations: true
          show_submodules: false
