[tool.poetry]
name = "tact"
version = "0.2.3"
description = "Taxonomic addition for complete trees: Adds tips to a backbone phylogeny using taxonomy simulated with birth-death models"
authors = ["Jonathan Chang <jonathan.chang@ucla.edu>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/jonchang/tact"
homepage = "https://github.com/jonchang/tact"
include = ["examples"]

[tool.poetry.dependencies]
python = "^3.6"
scipy = "^1.3"
numpy = "^1.17"
click = "^7.0"
DendroPy = "^4.4"

[tool.poetry.dev-dependencies]
pytest = "^5.3"
pytest-cov = "^2.8"
pytest-benchmark = "^3.2"
pytest-console-scripts = "^0.2"
hypothesis = "^5.6"

[tool.poetry.scripts]
tact_build_taxonomic_tree = "tact.cli_taxonomy:main"
tact_add_taxa = "tact.cli_add_taxa:main"
tact_check_results = "tact.cli_check_trees:main"

[tool.autopep8]
max_line_length = 127
ignore = "E501"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

